<div class="fondo">
    
    <div class="buscador">
        <input class="estilo" type="text" [(ngModel)]="term" placeholder="Buscar Libro..."> 
    </div>  

    
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
          
        <table class="table table-dark table-hover">
          <thead align="center">
            <tr>
              <th>Nombre</th>
              <th>Editorial</th>
              <th>Paginas</th>
            </tr>
            <style type="text/css"> 
                thead tr th { 
                    position: sticky;
                    top: 0;
                    z-index: 10;
                   
                }
            
                .table-responsive { 
                    height:200px;
                    overflow:scroll;
                }
            </style>
          </thead>
          <tbody align="center">
            <tr *ngFor="let item of data| filter:term ">
              <td>{{item.nombre}}</td>
              <td>{{item.editorial}}</td>
              <td>{{item.paginas}}</td>
            </tr>
          </tbody>
        </table>
      </div>
   
</div>

