.fondo {
    height: 100vh;
    background-image: url("../../assets/imagenes/fondo1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif 
}



.container{
    margin-top: 10%;
    position: relative;
    height: 60%;
    overflow: auto;
}


.buscador .estilo{
   height: 30%;
   width: 30%;
   border: cadetblue;
   margin-left: 35%;
   margin-top: 2%;
   background-color: rgb(107, 107, 107);
   color: white;
   border-radius: 10%;
}

.my-custom-scrollbar {
    position: relative;
    height: 70%;
    width:95%;
    overflow: auto;
    margin-top: 3%;
    margin-left: 2%; 
    }
.table-wrapper-scroll-y {
    display: block;
    background: #181717;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
}