<div class="fondo">
    
   <div>
       <p>
             .
       </p>
   </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form  [formGroup]="formData" (ngSubmit)="guardar()">
                        <div class="group"> 
                            <label for="name" class="label">Nombre</label> 
                            <input id="name" type="text" name="name" class="form-control input" placeholder="Nombre" formControlName="name"> 
                        </div>
                        <div class="group"> 
                            <label for="editorial" class="label">Editorial</label> 
                            <input id="editorial" type="text" name="editorial" class="form-control input"  placeholder="Editorial"formControlName="editorial">
                         </div>
                         <div class="group"> 
                            <label for="pages" class="label">Paginas</label> 
                            <input id="pages" type="text" name="pages" class="form-control input"  placeholder="Paginas"formControlName="pages">
                         </div>
                        <div class="group"> <input type="submit" class="button" value="Guardar"> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
