.fondo {
    height: 100vh;
    background-image: url("../../assets/imagenes/fondo1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif 
}


.container{
    background-color: rgba(0, 0, 0, 0.6);
    height: 40%;
    width: 50%;
    margin-top: 10%;
    color: snow;
    
}


.button{
    margin-top: 5%;
    margin-left: 40%;
    background-color: slategray;
    border-radius: 10px;
}
