.fondo {
    height: 100vh;
    background-image: url("../../assets/imagenes/fondo1.webp");
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Numans', sans-serif 
}

.titulo{
    color: white;
    font-weight: 100%;
    font-size: 350%;
    margin-left: 25%;
}

.titulo2{
    color: white;
    font-weight: 100%;
    font-size: 200%;
    margin-left: 40%;
}


.table-wrapper-scroll-y{
    width: 37%;
    margin-left: 30%;
    margin-top: 5%;
}

.btn{
    margin-left: 44%;
    margin-top: 2%;
}

