<div class="fondo">
    <div class="titulo">
        <p style = "font-family:courier,arial,helvética;">
            Deparatamento Contabilidad
        </p>
    </div>

    <div class="titulo2">
        <p style = "font-family:courier,arial,helvética;">
            Grupo #27
        </p>
    </div>


    <div class="table-wrapper-scroll-y my-custom-scrollbar">         
        <table class="table table-dark table-hover">
          <thead align="center">
            <tr>
              <th>Nombre</th>
              <th>Carnet</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr>
              <td>Cesar Emanuel García Pérez</td>
              <td>201801181</td>
            </tr>
            <tr>
                <td>Jessica Elizabeth Botón Pérez</td>
                <td>201800535</td>
            </tr>
            <tr>
                <td>Diego Ahyohil Noj Armira</td>
                <td>201220159</td>
            </tr>
            <tr>
              <td>Estela Beatriz Pérez Rodríguez</td>
              <td>201807149</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button type="button" class="btn btn-dark" (click)="toBuscar()">Ver Ventas</button>
      </div>
      <div>
        <button type="button" class="btn btn-dark" (click)="toGuardar()">Nueva Venta</button>
      </div>
      
</div>
